<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Nuget official package source" value="https://nuget.org/api/v2" />
	<add key="Bede Component Feed" value="http://nuget-components.bedegaming.com:8081/Api/v2" />
  </packageSources>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
</configuration>